$min-width-overlay: 720px;

.modal__overlay {
  display: block;
  width: 100%;
  background: #0000006b;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  overflow: auto;
}

.modal__aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

.modal__card {
  width: 100%;
  background: white;
  border-radius: 0.2rem;
  padding: 0;
  box-shadow: 0 5px 10px #00000026;
  position: relative;
  top: -3rem;

  @media (min-width: 576px) {
    max-width: 40rem;
  }
}

.modal__header {
  padding: 3.5rem 0 1rem;
  position: relative;
}

.modal__title {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.modal__close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  width: 15px;

  &:focus {
    outline: transparent;
  }
}

.modal__close-image {
  width: 100%;
  height: auto;
}

.modal__body {
  padding: 0.5rem 1.5rem 0;

  @media (min-width: 576px) {
    padding: 0.5rem 3rem 0;
  }
}

.modal__input {
  display: block;
  padding: 0.8rem 0.7rem 0.7rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  margin: 0 0 0.7rem;
  width: 100%;
  box-shadow: none;
  border: 1px solid #d8d8d8;

  &:focus {
    outline: transparent;
  }

  @media (min-width: 576px) {
    padding: 1rem 0.9rem 0.9rem;
  }
}

.modal__input--pointer {
  cursor: pointer;
}

.modal__footer {
  padding: 1rem 0 2.5rem;
  text-align: center;
}
