@import 'styles/colors';
@import 'styles/modal';
@import 'styles/react-autosuggest';

.slick-list {
  height: auto;
  max-height: 450px;

  @media (min-width: 576px) {
    max-height: 550px;
  }

  @media (min-width: 576px) {
    max-height: 550px;
  }
}
